<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <img src="../static/Images/how-to-track-a-phone-number.jpg" alt=""class="image" height="640px" width ="100%">
    <h1 class="dis">Phone Number Tracking</h1>
    <h1 class="common1">Country : {{box}}</h1>
    <h1 class="common2">Sim : {{bag}}</h1>
    <form method = "post">
        <input type="text" placeholder="Enter Country code with number" class="num" name="track">
        <input type="submit" class="submit">
    </form>
    
</body>
</html>